html {
    cursor: url("mouse.png") 4 4, auto;
    min-height: 100%;
}

body {
    background-color: lightgreen;
    font-size: 16px;
}

button {
    font-size: xxx-large;
    background-color: plum;
    border-radius: 2vmin;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}
